body{
    background-color:#bdd4f3;
}

button.Luogu{
    background-color:#00ffff;
    color:#ffffff;
    width:300px;
    height:60px;
    text-align:center,20px;
    border-radius:8px;
    border:none;
}
button.Luogu:hover{
    background-color:#00ffff9c;
    color:#ffffffbf;
    width:300px;
    height:60px;
    text-align:center,20px;
    border-radius:8px;
    border:none;
}
